.header {
    background-color: #cfdbd5;
    width: 100%;
    height: 50px;
  }
  
  .textHeader {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Mohave", sans-serif;
  }
  
 .linkHeader {
  color: #333533;
  text-shadow: 2px 2px 8px #e8eddf;
  text-decoration: none;
}

.linkHeader:link,
.linkHeader:visited,
.linkHeader:hover,
.linkHeader:active {
  text-decoration: none;
  color: inherit;
}

.linkHeader:hover {
  color: #f5cb5c;
  text-shadow: 2px 2px 8px #ffffff;
}

.linkHeader:active {
  color: #f5cb5c;
}

  