

.Hostel{
    color: #F5CB5C;
    text-shadow: 0.5px 0.5px 4px #f8f891;
    font-size: 100px;
}

.Hostel:hover{
    color: #333533;
    text-shadow: 0.5px 0.5px 4px #e9eedf;
}

.conteudoHostel{
    background-color: #333533;
    border-radius: 40px;
    margin: 50px;
    width: 800px;
    height: 400px;
}